# Visual Studio
.vs/
*.user
*.suo
*.ipch
*.VC.db
*.VC.opendb

# Build outputs
bin/
obj/
Debug/
Release/
# Output de Tests o artefactos
TestResults/
_ReSharper.*/
[Ll]og/

---

# Backup/temporales
*.bak
*.tmp
*.log
*.pdb
*.dll
*.lib
*.ncb
*.aps
*.local

---

# Multimedia y Archivos de Contenido Pesado (¡Adiós a los Gifs y Videos!)
# Contenido visual/audio que no debe ir al repo (Mejor usar un CDN o LFS)


---

# IDE extras
.vscode/
*.userprefs
# Rider
.idea/

---

# Packages/Dependencies
packages/
node_modules/