.all {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto lfr auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;


}

.lista-objetivos {
    padding-left: 2%;
}

.imagen-objetivo {
    width: 15%;
    height: auto;
    padding-left: 2%;
}

.imagen-ods {
    width: 30%;
    height: auto;
    display: flex;
}

header ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;

}

#Sostenibilidad {
    color: #d30000;
}

header a {
    text-decoration: none;
}

header li {
    text-decoration: none;
    display: inline;
    margin-right: 10px;
    color: #000000;

}

header {
    width: 100%;
    height: 100%;
}

header h1 {
    margin-top: 1%;
}

main {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

h1,
h2 {
    color: #333;
}

#descripcion,
#actividades,
#inscripcion,
#ods,
#conceptos {
    margin-bottom: 2em;
}

#inscripcion a {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#inscripcion a:hover {
    background-color: #45a049;
}

form {
    background-color: white;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
}